<!DOCTYPE html>
<title>Rotary WIKI</title>
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = False,True,False}}
{{extend 'layout.html'}}
{{#=response.toolbar()}}
{{block center}}
{{if len(request.args) == 0:}}
	<div class='well'>	
		<h3>
			<p>Starting from here you can use the <b>Wiki</b> features of this site. You will be able to create 
			new pages (content), search them (by title or slug) and edit them.</p>
			<p>In fact, the wiki capabilities include pages of text and embedded media (images) attachments in <b>html</b> format.
			Pages and media are stored in the WIKI data base. Manager pages allow you to edit or delete content, 
			upload images into or delete from the data base and copy image links into pages. </p>
			<p>Be careful:
			if you delete images you have to update pages containing references to them - else you produce dangling
			image references in pages!</p>
			<p>You are, either or both, member of a group called "wiki-editor" or "wiki-author"<sup>*</sup>.</p>
			<p>You can create a new page directly from this page or use the links from the <i>Content</i> drop down menu.</p>
			<p>Give your new content-page a <b>Slug</b><sup>**</sup>.</p></h3>
	</div>
	<div class="controls">
		<a class="btn btn-default" href="{{=URL('create_page',args=['_create'])}}">
			<span>New page</span></a>
	</div>
	<hr>
	<div>
		<p>
		*) The difference between editors and authors is that the
			editors can create pages, edit and delete any page, while the authors can
			create pages (with some optional restrictions) and can only edit/delete the
			pages they have created.</p>		
		<p>
		**) In the publishing business, a Slug is a short name given
		to an article that is in production.</p>
	</div>
{{elif request.args[0] == '_preview':}}
	<h2>{{=title}}</h2>
	{{=body}}
{{elif request.args[0] == '_create':}}
	{{=form}}
{{pass}}
{{end}}
