<!DOCTYPE html>
<title>Rotary</title>
{{#=BEAUTIFY(request.vars)}}
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = False,True,False}}
{{extend 'layout.html'}}
{{block center}}
<!-- -------------------------------------------------------------- -->
<div id="dashboard_pages" class="col-md-12"> <!----dashboard_pages------------------------>
	{{for page in pages:}}
		<div class="well">
			{{if page.title != '':}}
				<h2>{{=XML(page.title)}}</h2>
			{{else:}}
				<h2>&nbsp;</h2> <!-- no title: force empty space -->
			{{pass}}
			{{=XML(page.body)}}
		</div>
	{{pass}}
</div>
<!-- -------------------------------------------------------------- -->
{{end}}

