{{#=BEAUTIFY(request.vars)}}
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = False,True,False}}
{{extend 'layout.html'}}
{{block center}}
<!-- -------------------------------------------------------------- -->
<div  id="row1" style="height:50px;"></div>
<div class="row-fluid">
	<div class="well" style="margin-top:20px;">
    <h3>
        <img src="{{=URL('static','images/french_flag.png')}}"> ACTION: Espoir en tête </h3>					
    <hr/>
    <p>
        <strong><sup>Le</sup>Livre<sub>de la</sub>Jungle</strong> en avant-première pour <a href="http://www.espoir-en-tete.org/105_p_43351/le-livre-de-la-jungle-images-et-bandes-annonces.html">"Espoir en tête"</a>.
        Un action des Rotariens Français au service de la recherche sur la cerveau le 10 Avril 2016.</p>
    <h4>
        De quoi s'agit-il ?</h4>
    <p>
        Grace à un partenariat avec les studios Disney, chaque année depuis 8 ans, les rotariens organisent une projection cinématographique et 
        reversent les bénéfices à la Fondation pour la Recherche sur le Cerveau</p>
    <p>
        Avec vous, plusieurs dizaines de milliers de spectateurs assistent à une avant-première du film d'un grand distributeur, dans toute la France, les mêmes jours, à l'appel des Rotariens français.
        Par l'achat d'une place 
        à 15 euros, vous en donnez au moins 8 à la recherche sur le cerveau, le système nerveux et leurs pathologies.</p>
    <h4>
        Pourquoi cette action ?</h4>
    <ul>
        <li>Parce que les maladies cérébrales peuvent toucher tout le monde et sont encore mal connues.</li>
        <li>Parce que le cinéma est un médium populaire et qui permet facilement de passer un agréable moment tout en faisant une bonne action.</li></ul>
    <p>
        Le Rotary Club de Gréoux-les-Bains présentera cette première dans un cinéma local, qui sera annoncée.</p>
    <p>
        Liens pour en savoir plus: <a href="http://www.frc.asso.fr/">Fondation pour la Recherche sur le cerveau</a> et
        <a href="http://www.espoir-en-tete.org/105_p_36015/l-association-espoir-en-tete.html">Association Espoir en Tête</a>.</p>
    <p>
        &nbsp;&nbsp;</p>
    <h3>
        <img src="{{=URL('static','images/english_flag.png')}}"> An action by French Rotarians in aid of brain disease research</h3>
    <p>
        <strong><sup>Le</sup>Livre<sub>de la</sub>Jungle</strong> will premier exclusively for 
        <a href="http://www.espoir-en-tete.org/105_p_43351/le-livre-de-la-jungle-images-et-bandes-annonces.html">"Espoir en tête"</a> 
        on April 10,2016.</p>
    <h4>
        What is it ?</h4>
    <p>
        The Rotary Club has been in partnership with Disney studios for the last 8 years to organize the viewing of a film. The proceeds 
        go to the Foundation for Brain Research (Fondation pour la Recherche sur le Cerveau).</p>
    <h4>
        Why this action?</h4>
    <ul>
        <li>Because brain diseases can affect everyone and not much is about them yet.</li>
        <li>Because cinema is a popular medium and can easily provide a good time while doing a good deed.</li></ul>
    <p>
        The Gréoux les Bains Rotary will present this premiere at a local Cinema, to be announced.</p>
    <p>
        Links for further information: <a href="http://www.frc.asso.fr/">Fondation pour la Recherche sur le Cerveau</a> and
            <a href="http://www.espoir-en-tete.org/105_p_36015/l-association-espoir-en-tete.html">Association Espoir en Tête</a>.</p>
	</div>
</div>

<!-- -------------------------------------------------------------- -->
<div class="row-fluid">
    <div class="well" id="row2">
    <h3>
        Suspendisse ac luctus nibh. Nam laoreet convallis....</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim odio, blandit tempus mollis id, fringilla et lectus. Ut rutrum adipiscing interdum. Vivamus quam enim, blandit vel consectetur in, ornare vel neque. Mauris tincidunt, risus non placerat pellentesque, velit metus iaculis tortor, sit amet dapibus tortor risus malesuada erat. Phasellus accumsan aliquam sollicitudin. Fusce fermentum est tellus, quis tempor ante cursus dignissim. Suspendisse iaculis nisi eget ullamcorper feugiat. Donec quis dolor in est cursus dapibus. Nullam vitae lacus id elit euismod ultrices. Phasellus blandit ullamcorper augue. Pellentesque ut semper purus. Quisque viverra rhoncus iaculis.</p>
    <p>
        Suspendisse ac luctus nibh. Nam laoreet convallis arcu quis mattis. Integer a sapien iaculis, malesuada diam id, facilisis sapien. Praesent facilisis ante iaculis rutrum rhoncus. Duis in nibh tincidunt, molestie ante non, gravida neque. Morbi elementum diam in elementum viverra. Duis imperdiet rutrum urna placerat ornare. Donec facilisis velit sit amet lacinia gravida. Donec non tincidunt quam. Nulla tortor metus, blandit in molestie ut, ultrices et ligula. Etiam malesuada commodo ligula in blandit. Sed tempor quam metus, a pellentesque diam sodales non. Nulla turpis nisi, luctus nec placerat non, facilisis eget nisl. Cras ornare mi sit amet nisi volutpat, vel viverra mauris commodo.</p>
    <p>
        Sed malesuada elit sit amet justo malesuada eleifend. Nulla molestie, quam aliquam ultricies elementum, ipsum lorem dapibus nisl, id egestas urna nunc et quam. Pellentesque tincidunt nisl sit amet posuere accumsan. Curabitur vel sapien sit amet metus sodales luctus vel sit amet massa. Praesent elit leo, commodo quis molestie nec, facilisis et nibh. Curabitur ut turpis nulla. Quisque id convallis est. Curabitur aliquam tortor eget odio pellentesque, ut fermentum libero mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum faucibus malesuada purus vestibulum congue. Nullam quis porttitor mauris. Ut risus nisi, dapibus facilisis mi quis, ullamcorper auctor neque. Vivamus a mauris leo.</p>
	</div>
</div>
{{end}}

