{{left_sidebar_enabled,right_sidebar_enabled=True,True}}
{{extend 'layout.html'}}
{{block center}}
{{#=BEAUTIFY(request.vars)}}
<!------------------------------ROW #1 --------------------------------------------------->
<div class="row">
	<div class="span3">
		{{block 1.1}} <!--block 1.1 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 1.2}} <!--block 1.2 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 1.3}} <!--block 1.3 empty--> {{end}}
	</div>
</div><!--/row-->
<!------------------------------ROW #2 --------------------------------------------------->
<div class="row">
	<div class="span3">
		{{block 2.1}} <!--block 2.1 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 2.2}} <!--block 2.2 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 2.3}} <!--block 2.3 empty--> {{end}}
	</div>
</div><!--/row-->
<!------------------------------ROW #3 --------------------------------------------------->
<div class="row">
	<div class="span3">
		{{block 3.1}} <!--block 3.1 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 3.2}} <!--block 3.2 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 3.3}} <!--block 3.3 empty--> {{end}}
	</div>
</div><!--/row-->
<!------------------------------ROW #4 --------------------------------------------------->
<div class="row">
	<div class="span3">
		{{block 4.1}} <!--block 4.1 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 4.2}} <!--block 4.2 empty--> {{end}}
	</div>
	<div class="span3">
		{{block 4.3}} <!--block 4.3 empty--> {{end}}
	</div>
</div><!--/row-->
{{end}}

{{block 1.1}}
              <h2 class='top_actuality_header'><img src="{{=URL('static','images/french_flag.png')}}"/> 
			  Le Club</h2>
			  <div class='transparent'>
				  <p> 
					Un Club regroupant des membres de la région de la vallée de la Durance en Haute Provence et qui accueille hommes et femmes....</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row1" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 1.2}}
			<h2 class='top_actuality_header'><img src="{{=URL('static','images/english_flag.png')}}"/> 
			The Club</h2>
			  <div class='transparent'>
				  <p> 
					A recently formed Rotary club which draws members from the Durance Valley area of Haute Provence and especially welcomes both genders....</p>
				  <p>
				  <a class="btn btn-default" href="{{=URL('fluid')}}#row1" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 1.3}}
			<h2 class='top_actuality_header'><img src="{{=URL('static','images/french_flag.png')}}"/> 
			Action espoir en tête</h2>
			  <div class='transparent'>
				  <p>
					Une action des rotariens français au service de la recherche sur le cerveau...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row3" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 2.1}}
			<h2 class='top_actuality_header'><img src="{{=URL('static','images/english_flag.png')}}"/> 
			A World Project</h2>
			  <div class='transparent'>
				  <p>
					<img src="{{=URL('static','images/end_polio_now.png')}}" alt="Rotary International's End-Polio-Now project..."/></p>
				  <p>
					<a class="btn btn-default" href="http://www.endpolio.org/">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 2.2}}
			<h2 class='top_actuality_header'><img src="{{=URL('static','images/english_flag.png')}}"/> 
			Saving Mr Banks</h2>
			  <div class='transparent'>
				  <p>
					An action by French Rotarians in aid of brain disease research...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row3" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 2.3}}
			<h2 class='top_actuality_header'>
			<!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			<img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>				  
				<p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 3.1}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{block 3.2}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{end}}
{{#block 3.3}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row5" role="button">View details &raquo;</a></p>
			  </div>
{{#end}}
{{#block 4.1}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{#end}}
{{#block 4.2}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{#end}}
{{block 4.3}}
              <h2 class='top_actuality_header'>
			  <!--img src="{{=URL('static','images/french_flag.png')}}"/--> 
			  <img src="{{=URL('static','images/construction.png')}}"></h2>
			  <div class='transparent'>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam sed mauris euismod iaculis sed sit amet velit. Mauris adipiscing ...</p>
				  <p>
					<a class="btn btn-default" href="{{=URL('fluid')}}#row6" role="button">View details &raquo;</a></p>
			  </div>
{{end}}

<!-- =====================================sidebar============================================ -->
{{block right_sidebar}}
<!------------------------------SideNav --------------------------------------------------->
{{block li1}} <!--li 1 empty--> {{end}}
{{block li2}} <!--li 2 empty--> {{end}}
{{block li3}} <!--li 3 empty--> {{end}}
{{block li4}} <!--li 4 empty--> {{end}}
{{block li5}} <!--li 5 empty--> {{end}}
{{block li6}} <!--li 6 empty--> {{end}}
{{block li7}} <!--li 7 empty--> {{end}}
{{block li8}} <!--li 8 empty--> {{end}}
{{block li9}} <!--li 9 empty--> {{end}}
{{block li10}} <!--li 10 empty--> {{end}}
{{block li11}} <!--li 11 empty--> {{end}}
{{block li12}} <!--li 12 empty--> {{end}}
<div align="center" class="sidebar-right-list-item last-item" style="margin-top:2em">
	<img src="{{=URL('static','images/fanion.png')}}">
</div>
{{end}}

{{block li1}}
            <div class="sidebar-right-list-item">
            <a href="https://www.rotary.org/en" class="list-group-item active">
				<img src="{{=URL('static','images/english_flag.png')}}"/>
				<img src="{{=URL('static','images/white_flag.png')}}"/> 
				Rotary Int. Headquater</a>
			</div>
{{end}}
{{block li2}}
            <div class="sidebar-right-list-item">
            <a href="http://www.rotary-d1760.com/" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/white_flag.png')}}"/> 
				District 1760</a>
			</div>
{{end}}
{{block li3}}
            <div class="sidebar-right-list-item">
            <a href="{{=URL('fluid')}}#row2" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/white_flag.png')}}"/>
				Dirigeants du club </a>
			</div>
{{end}}
{{#block li4}}
            <div class="sidebar-right-list-item">
            <!--a href="#" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Club Members </a-->
			</div>
{{#end}}
{{#block li5}}
            <div class="sidebar-right-list-item">
            <!--a href="#" class="list-group-item">
				<img src="{{=URL('static','images/white_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/>
				Upcoming Events </a-->
			</div>
{{#end}}
{{#block li6}}
            <div class="sidebar-right-list-item">
            <!--a href="{{=URL('fluid')}}" class="list-group-item">
				<img src="{{=URL('static','images/white_flag.png')}}"/>
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Charter Night </a-->
			</div>
{{#end}}
{{block li7}}
            <div class="sidebar-right-list-item">
            <a href="{{=URL('fluid')}}#row2" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/white_flag.png')}}"/>
				Réunions hebdomadaires</a>
			</div>
{{end}}
{{block li8}}
            <div class="sidebar-right-list-item">
            <a href="http://www.doodle.com/ed9nmd2txrpezd9g" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/>
				Meeting attendance</a>
			</div>
{{end}}
{{#block li9}}
            <div class="sidebar-right-list-item">
            <!--a href="#" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Qu'est-ce que se passe?</a-->
			</div>
{{#end}}
{{block li10}}
            <div class="sidebar-right-list-item sidebar-right-list-last-item">
            <a href="https://drive.google.com/?utm_medium=et&utm_source=about&utm_campaign=et-about#folders/0B_-2Mp8GY48qYWs1SjlUcHF2ejA" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Documents</a>
			</div>
{{end}}
{{#block li11}}
            <div class="sidebar-right-list-item">
            <!--a href="#" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Photo Galleries</a-->
			</div>
{{#end}}
{{#block li12}}
            <div class="sidebar-right-list-item">
            <!--a href="{{=URL('fluid')}}" class="list-group-item">
				<img src="{{=URL('static','images/french_flag.png')}}"/> 
				<img src="{{=URL('static','images/english_flag.png')}}"/> 
				Archives</a-->
			</div>
{{#end}}




