<!DOCTYPE html>
<title>Rotary</title>
<!-- pure python  -->
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = True,False,False}}
<!-------LAYOUT---------------------------------------------------------------->
{{extend 'layout.html'}}

<!-------Modal: about---------------------------------------------------------------->
<div class="modal fade" id="aboutModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title"><img src="{{=URL('static','images/english_flag.png')}}"> The Club</h3>
    </div>
        <div class="modal-body">
        {{include '../private/about.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-------Modal: about(fr)------------------------------------------------------------>
<div class="modal fade" id="aboutModalfr" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title"><img src="{{=URL('static','images/french_flag.png')}}"> Le Club</h3>
    </div>
        <div class="modal-body">
        {{include '../private/about_fr.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-------Modal: executive------------------------------------------------------------>
<div class="modal fade" id="executiveModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">The club's excutive committee</h3>
    </div>
        <div class="modal-body">
        {{include '../private/executive.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-------Modal: ethics--------------------------------------------------------------->
<div class="modal fade" id="ethicsModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Ethics</h3>
    </div>
        <div class="modal-body">
        {{include '../private/ethics.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-------Modal: press---------------------------------------------------------------->
<div class="modal fade" id="pressModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Our club in the press</h3>
    </div>
        <div class="modal-body">
        {{include '../private/press.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-------Modal: meetingsh------------------------------------------------------------>
<div class="modal fade" id="meetingshModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Weekly meeting shedule</h3>
    </div>
        <div class="modal-body">
        {{include '../private/meetingsh.html'}}
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

{{block center}}
<!----the carousel----------------------------------------------------->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide img-circleXXX" src="{{=URL('static','images/pic01.png')}}"  alt="{{=URL('static','images/pic01.png')}}">
        </div>
        <div class="item">
            <img class="second-slide img-circleXXX" src="{{=URL('static','images/pic02.jpg')}}" alt="{{=URL('static','images/pic01.png')}}">
        </div>
        <div class="item">
            <img class="third-slide img-circleXXX" src="{{=URL('static','images/pic03.jpg')}}"  alt="{{=URL('static','images/pic01.png')}}">
        </div>
        <div class="item">
            <img class="fourth-slide img-circleXXX" src="{{=URL('static','images/pic04.jpg')}}" alt="{{=URL('static','images/pic01.png')}}">
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"><</span></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">></span></span>
        </a>
    </div>
</div>
<div id="passation">
    {{include '../private/mainr1c2.html'}}
</div>
<div id="wiki_pages" class="col-md-12">
	{{for page in pages:}}
		{{if page.title != '':}}
			<h2>{{=XML(page.title)}}</h2>
		{{else:}}
			<h2>&nbsp;</h2> <!-- no title: force empty space -->
		{{pass}}
		{{=XML(page.body)}}
	{{pass}}
</div>
{{end}}

{{block header}}
<header class="container-fluid background" style="height:140px">
  <!-- <div class="jumbotron text-center">
    {{if response.title:}}
    <h1>{{=response.title}}
      <small>{{=response.subtitle or ''}}</small></h1>
    {{pass}}
  </div> -->
</header>
{{end}}

