<!DOCTYPE html>
<title>Rotary WIKI</title>
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = False,True,False}}
{{extend 'layout.html'}}
{{#=response.toolbar()}}
{{block center}}
	<div style="margin-bottom: 20px" ><span style="font-size:x-large">WIKI page manager&nbsp;</span>
	{{if media:}}
		<span>
			<button class="btn btn-default" type="button">
				<a href="{{=URL('manage_media')}}">
					<span class="custom-button icon magnifier icon-zoom-in glyphicon glyphicon-arrow-right"> 
						Media
						</span>
						</a>
						</button>
						</span>
	{{pass}}
	</div>

	{{=grid}}
	
	<hr>
	<p>(1) Preview rendered page content.</p>
{{end}}
