<!DOCTYPE html>
<title>Rotary WIKI</title>
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled = False,True,False}}
{{extend 'layout.html'}}
{{#=response.toolbar()}}
{{block center}}
{{
	page_title=custom_items['page_title']
	url=custom_items['button']['url']
	label=custom_items['button']['label']
	view=custom_items['view']
}}

	<div style="margin-bottom:20px" ><span style="font-size:x-large">{{=page_title}}&nbsp;</span>
	{{if view:}}
		<span>
			<a href="{{=url}}" class="btn btn-default">					
				<span class="custom-button icon magnifier icon-zoom-in glyphicon glyphicon-hand-right"> 
					{{=label}}
					  </span></a></button></span>
	{{pass}}
	</div>

	{{=grid}}
	
	{{if page_title == 'Pages':}}
		<hr>
		<div style="font-size: smaller">
		<p>[1] Preview rendered page content.</p>
		</div>
	{{pass}}
{{end}}
