<!DOCTYPE html>
<title>Rotary</title>
{{#=BEAUTIFY(request.vars)}}
{{left_sidebar_enabled,right_sidebar_enabled, rotary_banner_enabled, tinymce_enabled = False,True,False,False}}
{{extend 'layout.html'}}

{{block center}}
<h3>Members<small> (Total members = {{=len(request.members)}})</small></h3>
{{for i in range(len(request.members)):}}  {{#loop over all members}}
	{{member_row = request.members[i]}}
	<div class="media" style="padding-bottom:20px;">
	{{for j in range(len(member_row)):}}   {{#loop over list of dictionaries per member}}
		{{member = member_row[j]}}
		{{if j == 0:}}  {{# 1st dictionary is auth_user record}}
			{{
			s = ' | '
			first_name = member['first_name'];
			last_name = member['last_name'];
			identity_photo = member['identity_photo'];
			telephone = 'tel: '+ member['tel_number'] + s if member['tel_number'] else '';
			mobile = 'mob: ' + member['mobile_number'] + s if member['mobile_number'] else '';
			email = member['email']; email2 = member['email2'];
			email = A(email,_href='mailto:'+email) if email else '';
			email = email + s if (email and email2) else email
			email2 = A(email2,_href='mailto:'+email2) if email2 else '';
			short_description = member['short_description'];
			}}
			<a class="pull-left" href="#">
            {{#=URL('download',args=identity_photo)}}
				<img class="media-object" src="{{=URL('download',args=identity_photo)}}" width="65" height="65">
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					{{=first_name}} {{=last_name}}
					<div>
                    <small>{{=telephone}}</small>
					<small>{{=mobile}}</small>
					<small>{{=email}}</small>
					<small>{{=email2}}</small>
                    </div>
				</h4>
			<table class="table table-condensed">
            <tr>
            {{elif j != 0:}}   {{# remaing dictionaries are addresses}}
 			<td>
 				<p>{{="{0}, {1}".format(member['number'],member['street'])}}</p>
				<p style="text-decoration:underline">{{="{0} - {1}".format(member['zip_code'],member['town'])}}</p>
				<p>{{="{0}".format(member['country'])}}</p>
				<p>{{="tel.: {0}".format(member['tel_number']) if member['tel_number'] else ''}}</p>
 			</td>
            {{pass}}
	{{pass}}  {{#loop over list of dictionaries per member}}
	{{if short_description:}}
		<tr class='short_description'>
			<p>{{=short_description}}</p>
		</tr>
	{{pass}}
            </tr></table>
        </div>
    </div>
{{pass #loop over all members}}
{{end}}
